body {
	background-color: black;
}

#calculator {
	width: 380px;
	margin: 50px auto;
	padding-top: 10px;
	background-color: black;
	padding-bottom: 1px;
}

#display {
	width: 90%;
	height: 75px;
	margin-top: 10px;
	margin: auto;
	background-color: white;
	font-size: 65px;
	text-align: right;
	padding-right: 15px;
	overflow: hidden;
}

#working {
	width: 90%;
	height: 35px;
	margin: 0px auto 5px;
	padding: 5px auto;
	background-color: white;
	font-size: 25px;
	text-align: right;
	padding-right: 15px;
	color: red;
	overflow: hidden;
}

#container {
	display: flex;
	flex-wrap: wrap;
	margin: 0px 10px 10px;
	padding: auto;
}

.buttons {
	width: 86px;
	height: 86px;
	background-color: white;
	margin: 2px;
	text-align: center;
	padding: auto;
	line-height: 84px;
	font-size: 25px;
	cursor: pointer;
	-ms-user-select: none;
   	user-select: none;
}

.buttons:hover, .operators:hover {
	box-shadow: inset 0px 0px 10px 0px #D3D3d3;
}

.buttons:active, .operators:active {
	box-shadow: inset 0px 0px 7px 0px gray;
}

.operators {
	width: 86px;
	height: 86px;
	background-color: white;
	margin: 2px;
	text-align: center;
	padding: auto;
	line-height: 84px;
	font-size: 25px;
	color: red;
	cursor: pointer;
	-ms-user-select: none;
   	user-select: none;
}

#equals {
	flex-basis: 176px;
	font-size: 35px;
}

#squared {
	line-height: 70px;
}

#sqrt {
	line-height: 90px;
}

#negate {
	line-height: 75px;
}